<h1>{{ isInCreation ? "Création d'un nouveau pokémon :" : "Modification d'un pokemon :"}}</h1>
<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div *ngIf="submitted && formGroup.invalid" class="alert alert-danger">
        Le formulaire contient des erreurs.
    </div>
    <div class="form-group">
        <label>Numéro</label>
        <input type="number" class="form-control" placeholder="Numéro.." formControlName="numero">

        <ng-container *ngIf="submitted && formGroup.controls['numero'].errors as errors else validTemplate">
            <small *ngIf="errors['required']" class="text-danger">Le numéro est obligatoire.</small>
        </ng-container>
    </div>

    <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" placeholder="Nom.." formControlName="nom">
        <ng-container *ngIf="submitted && formGroup.controls['nom'].errors as errors else validTemplate">
            <small *ngIf="errors['required']" class="text-danger">Le nom est obligatoire</small>
            <small *ngIf="errors['minlength']" class="text-danger">
                Le nom doit faire plus de {{ errors['minlength'].requiredLength }} caractères.
            </small>
        </ng-container>
    </div>

    <button type="submit" class="mt-2 btn btn-primary">Enregistrer</button>
</form>

<ng-template #validTemplate>
    <small class="text-success">Le champ est valide.</small>
</ng-template>