<h1>Pokédex :</h1>

<ng-container *ngIf="pokemonsAPI$ | async as pokemons else loading">
    <div class="d-flex flex-wrap gap-2">
        <h4>{{ pokemons.length }} trouvés.</h4>
        <div class="pokemon shadow p-3 mb-5 bg-body-tertiary rounded" *ngFor="let pokemon of pokemons">
            <img [src]="pokemon.image" class="img-fluid" [alt]="pokemon.name">

            <div>
                n°{{ pokemon.pokedexId | padStart }}
            </div>
            <div class="fw-bold">{{ pokemon.name }}</div>

            <div>
                <div class="api-type" *ngFor="let type of pokemon.apiTypes">
                    <img class="img-fluid" [src]="type.image" [alt]="type.name">
                    {{ type.name }}
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>