<div style="display: grid;">

    <div *ngFor="let sliderValue of sliderValues">
        <span>Slider value = {{ sliderValue.value }}</span>
        <app-slider [(sliderValue)]="sliderValue.value"></app-slider>
        <app-progress-bar [progressValue]="sliderValue.value"></app-progress-bar>

        <div *ngIf="sliderValue.value < 50">
            La valeur du slider est inférieure à 50.
        </div>
    </div>

    <h2>Liste de bières :</h2>
    <div *ngFor="let biere of bieres">
        {{ biere.nom }}
    </div>
    <h2>Liste des entiers :</h2>
    <div [class.even-row]="index%2==0" [class.uneven-row]="index%2!=0" *ngFor="let entier of entiers; let index;"
        [style.color]="index%2 == 0 ? 'green' : 'red'">
        {{ entier }}
    </div>

    <input type="text" [(ngModel)]="inputValue" placeholder="Entrez une émotion..">
    <div [ngSwitch]="inputValue">
        <span *ngSwitchCase="'SAD'">Triste</span>
        <span *ngSwitchCase="'HAPPY'">Heureux</span>
        <span *ngSwitchDefault>Cas non géré</span>
    </div>

    <button type="button" (click)="callService()">Incrémenter cpt ({{cpt.value}})</button>
</div>