<h1>Liste des pokémons :</h1>
<app-date-du-jour></app-date-du-jour>
<button type="button" class="btn btn-primary" (click)="create()">
    Nouveau pokémon
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemons">
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.numero }}</td>
            <td>{{ pokemon.nom }}</td>
            <td>
                <div class="d-flex gap-2">
                    <button type="button" class="btn btn-sm btn-success" (click)="update(pokemon)">
                        Modifier
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" appConfirm
                        [question]="'Etes-vous sûr de vouloir supprimer ce pokémon ?'" (confirmed)="delete(pokemon)">
                        Supprimer
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>