<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Pokémon App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pokemonNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="pokemonNavBar" class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a *ngFor="let menuRoute of menuRoutes" class="nav-link" routerLinkActive="active"
                    [routerLink]="'/'+ menuRoute.path">
                    {{ menuRoute.libelle }}
                </a>
            </div>
        </div>
    </div>
</nav>